body {
  background: lightsteelblue;
  font-family: sans-serif;
  /* text-align: center; */
  color: #555;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#user-input {
  padding: 8px;
}

#countryFlag {
  position: relative;
  top: 9px;
}

#icon {
  height: 110px;
  margin: -30px;
}

#forecastContainer {
  display: flex;
  justify-content: center;
}

#forecastCanvas {
  /* background: rgba(254, 254, 254, 0.6); */
  max-width: 700px;
  min-height: 400px;
  margin: 20px;
  align-self: center;
}

div span {
  font-size: 60px;
}

button#forecast {
  padding: 6px;
  margin-top: 10px;
}
